[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pytest]
junit_family = "xunit2"

[dev-packages]
pytest = "*"
black = "*"
ipykernel = "*"

[packages]
numpy = "*"
pandas= "*"
black = "*"
matplotlib = "*"

[requires]
python_version = "3.8"